.start {
  text-align: center;
}

.start__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.start__title {
  font-size: 1.5em;
}

.start__intro {
  font-size: large;
}
