.button {
    height: 50px;
    background: #AAE46F;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    line-height: 20px;
    width: 80%;
    margin: 30px auto 0;
}

.button::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgba(34,139,34, 0.5);
}

.button__text {
    z-index: 1;
    position: relative;
}